* {
  margin: 0;
  padding:  0;
}

html, body {
  font-family: 'Roboto', sans-serif;
  //background-image: linear-gradient(to top, #9aadd6, #8ea4c3, #a0b9d2, #a3bfd6, #84c8ff);
  background-color: #8ea4c3;
}

#banner {
  width: 100%;
  height: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  font-size: 50px;
  color: white;
  text-align: center;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

#tiles {
  width: 660px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.tile {
  height: 120px;
  width: 120px;
  float: left;
  margin: 20px;
  background-color: #333333;
  text-shadow: none;
  border: 2px solid white;
  border-radius: 7px;
  filter: drop-shadow(0 0 3px #333);
}

.tile img {
  height: 100%;
  width: 100%;
}
