<!-- Input templates for quote -->
<div id="quote_a">TEST</div>
<div id="quote_b">TEST</div>
<div id="quote_c">TEST</div>
<div id="quote_d">TEST</div>

<!-- Input templates for book -->
<div id="book_a">TEST</div>
<div id="book_b">TEST</div>
<div id="book_c">TEST</div>
<div id="book_d">TEST</div>
<div id="book_e">TEST</div>
<div id="book_f">TEST</div>
<div id="book_g">TEST</div>
<div id="book_h">TEST</div>

<!-- Input templates for journal -->
<div id="journal_a">TEST</div>
<div id="journal_b">TEST</div>
<div id="journal_c">TEST</div>
<div id="journal_d">TEST</div>

<!-- Input templates for newspaper -->
<div id="newspaper_a">TEST</div>
<div id="newspaper_b">TEST</div>
<div id="newspaper_c">TEST</div>

<!-- Input templates for internet -->
<div id="newspaper_a">TEST</div>
<div id="newspaper_b">TEST</div>
<div id="newspaper_c">TEST</div>
<div id="newspaper_d">TEST</div>
<div id="newspaper_e">TEST</div>
<div id="newspaper_f">TEST</div>
<div id="newspaper_g">TEST</div>

<!-- Input templates for "Conferences/Theses/Public Lectures" (ctpl) -->
<div id="ctpl_a">TEST</div>
<div id="ctpl_b">TEST</div>
<div id="ctpl_c">TEST</div>
<div id="ctpl_d">TEST</div>

<!-- Input templates for other -->
<div id="other_a">TEST</div>
<div id="other_b">TEST</div>
<div id="other_c">TEST</div>
<div id="other_d">TEST</div>
<div id="other_e">TEST</div>
<div id="other_f">TEST</div>
<div id="other_g">TEST</div>
<div id="other_h">TEST</div>
<div id="other_i">TEST</div>
<div id="other_j">TEST</div>
<div id="other_k">TEST</div>
<div id="other_l">TEST</div>
<div id="other_m">TEST</div>
<div id="other_n">TEST</div>
<div id="other_o">TEST</div>
<div id="other_p">TEST</div>
<div id="other_q">TEST</div>
<div id="other_r">TEST</div>
<div id="other_s">TEST</div>
<div id="other_t">TEST</div>
<div id="other_u">TEST</div>
<div id="other_v">TEST</div>
<div id="other_w">TEST</div>
<div id="other_x">TEST</div>
<div id="other_y">TEST</div>
<div id="other_z">TEST</div>
<div id="other_aa">TEST</div>
<div id="other_ab">TEST</div>
<div id="other_ac">TEST</div>
