<div class="hidden">


   <!-- Reference templates for quote -->
   <div id="gen_quote_a">

   </div>
   <div id="gen_quote_b">
      <h3>In-text:</h3>
      <div id="intext_content"></div>
      <h3>Reference:</h3>
      <div id="reference_content"></div>
   </div>
   <div id="gen_quote_c">
      <h3>In-text:</h3>
      <div id="intext_content"></div>
      <h3>Reference:</h3>
      <div id="reference_content"></div>
   </div>
   <div id="gen_quote_d">
      <h3>In-text:</h3>
      <div id="intext_content"></div>
      <h3>Reference:</h3>
      <div id="reference_content"></div>
   </div>


   <!-- Reference templates for book -->
   <div id="gen_book_a">
     <h3>In-text:</h3>
     <div id="intext_content">
       %name_last% (%year%) suggests that ...
     </div>
     <h3>Reference:</h3>
     <div id="reference_content">
       %name_last%, %name_fi%. (%year%) <i>%title%</i> %edition% %pubplace% %publisher%.
     </div>
   </div>
   <div id="gen_book_b">
      <h3>In-text:</h3>
      <div id="intext_content"></div>
      <h3>Reference:</h3>
      <div id="reference_content"></div>
   </div>
   <div id="gen_book_c">
      <h3>In-text:</h3>
      <div id="intext_content"></div>
      <h3>Reference:</h3>
      <div id="reference_content"></div>
   </div>
   <div id="gen_book_d">
      <h3>In-text:</h3>
      <div id="intext_content"></div>
      <h3>Reference:</h3>
      <div id="reference_content"></div>
   </div>
   <div id="gen_book_e">
      <h3>In-text:</h3>
      <div id="intext_content"></div>
      <h3>Reference:</h3>
      <div id="reference_content"></div>
   </div>
   <div id="gen_book_f">
      <h3>In-text:</h3>
      <div id="intext_content"></div>
      <h3>Reference:</h3>
      <div id="reference_content"></div>
   </div>
   <div id="gen_book_g">
      <h3>In-text:</h3>
      <div id="intext_content"></div>
      <h3>Reference:</h3>
      <div id="reference_content"></div>
   </div>
   <div id="gen_book_h">
      <h3>In-text:</h3>
      <div id="intext_content"></div>
      <h3>Reference:</h3>
      <div id="reference_content"></div>
   </div>


   <!-- Reference templates for journal -->
   <div id="gen_journal_a">
      <h3>In-text:</h3>
      <div id="intext_content"></div>
      <h3>Reference:</h3>
      <div id="reference_content"></div>
   </div>
   <div id="gen_journal_b">
      <h3>In-text:</h3>
      <div id="intext_content"></div>
      <h3>Reference:</h3>
      <div id="reference_content"></div>
   </div>
   <div id="gen_journal_c">
      <h3>In-text:</h3>
      <div id="intext_content"></div>
      <h3>Reference:</h3>
      <div id="reference_content"></div>
   </div>
   <div id="gen_journal_d">
      <h3>In-text:</h3>
      <div id="intext_content"></div>
      <h3>Reference:</h3>
      <div id="reference_content"></div>
   </div>


   <!-- Reference templates for newspaper -->
   <div id="gen_newspaper_a">
      <h3>In-text:</h3>
      <div id="intext_content"></div>
      <h3>Reference:</h3>
      <div id="reference_content"></div>
   </div>
   <div id="gen_newspaper_b">
      <h3>In-text:</h3>
      <div id="intext_content"></div>
      <h3>Reference:</h3>
      <div id="reference_content"></div>
   </div>
   <div id="gen_newspaper_c">
      <h3>In-text:</h3>
      <div id="intext_content"></div>
      <h3>Reference:</h3>
      <div id="reference_content"></div>
   </div>


   <!-- Reference templates for internet -->
   <div id="gen_newspaper_a">
      <h3>In-text:</h3>
      <div id="intext_content"></div>
      <h3>Reference:</h3>
      <div id="reference_content"></div>
   </div>
   <div id="gen_newspaper_b">
      <h3>In-text:</h3>
      <div id="intext_content"></div>
      <h3>Reference:</h3>
      <div id="reference_content"></div>
   </div>
   <div id="gen_newspaper_c">
      <h3>In-text:</h3>
      <div id="intext_content"></div>
      <h3>Reference:</h3>
      <div id="reference_content"></div>
   </div>
   <div id="gen_newspaper_d">
      <h3>In-text:</h3>
      <div id="intext_content"></div>
      <h3>Reference:</h3>
      <div id="reference_content"></div>
   </div>
   <div id="gen_newspaper_e">
      <h3>In-text:</h3>
      <div id="intext_content"></div>
      <h3>Reference:</h3>
      <div id="reference_content"></div>
   </div>
   <div id="gen_newspaper_f">
      <h3>In-text:</h3>
      <div id="intext_content"></div>
      <h3>Reference:</h3>
      <div id="reference_content"></div>
   </div>
   <div id="gen_newspaper_g">
      <h3>In-text:</h3>
      <div id="intext_content"></div>
      <h3>Reference:</h3>
      <div id="reference_content"></div>
   </div>


   <!-- Reference templates for "Conferences/Theses/Public Lectures" (ctpl) -->
   <div id="gen_ctpl_a">
      <h3>In-text:</h3>
      <div id="intext_content"></div>
      <h3>Reference:</h3>
      <div id="reference_content"></div>
   </div>
   <div id="gen_ctpl_b">
      <h3>In-text:</h3>
      <div id="intext_content"></div>
      <h3>Reference:</h3>
      <div id="reference_content"></div>
   </div>
   <div id="gen_ctpl_c">
      <h3>In-text:</h3>
      <div id="intext_content"></div>
      <h3>Reference:</h3>
      <div id="reference_content"></div>
   </div>
   <div id="gen_ctpl_d">
      <h3>In-text:</h3>
      <div id="intext_content"></div>
      <h3>Reference:</h3>
      <div id="reference_content"></div>
   </div>


   <!-- Reference templates for other -->
   <div id="gen_other_a">
      <h3>In-text:</h3>
      <div id="intext_content"></div>
      <h3>Reference:</h3>
      <div id="reference_content"></div>
   </div>
   <div id="gen_other_b">
      <h3>In-text:</h3>
      <div id="intext_content"></div>
      <h3>Reference:</h3>
      <div id="reference_content"></div>
   </div>
   <div id="gen_other_c">
      <h3>In-text:</h3>
      <div id="intext_content"></div>
      <h3>Reference:</h3>
      <div id="reference_content"></div>
   </div>
   <div id="gen_other_d">
      <h3>In-text:</h3>
      <div id="intext_content"></div>
      <h3>Reference:</h3>
      <div id="reference_content"></div>
   </div>
   <div id="gen_other_e">
      <h3>In-text:</h3>
      <div id="intext_content"></div>
      <h3>Reference:</h3>
      <div id="reference_content"></div>
   </div>
   <div id="gen_other_f">
      <h3>In-text:</h3>
      <div id="intext_content"></div>
      <h3>Reference:</h3>
      <div id="reference_content"></div>
   </div>
   <div id="gen_other_g">
      <h3>In-text:</h3>
      <div id="intext_content"></div>
      <h3>Reference:</h3>
      <div id="reference_content"></div>
   </div>
   <div id="gen_other_h">
      <h3>In-text:</h3>
      <div id="intext_content"></div>
      <h3>Reference:</h3>
      <div id="reference_content"></div>
   </div>
   <div id="gen_other_i">
      <h3>In-text:</h3>
      <div id="intext_content"></div>
      <h3>Reference:</h3>
      <div id="reference_content"></div>
   </div>
   <div id="gen_other_j">
      <h3>In-text:</h3>
      <div id="intext_content"></div>
      <h3>Reference:</h3>
      <div id="reference_content"></div>
   </div>
   <div id="gen_other_k">
      <h3>In-text:</h3>
      <div id="intext_content"></div>
      <h3>Reference:</h3>
      <div id="reference_content"></div>
   </div>
   <div id="gen_other_l">
      <h3>In-text:</h3>
      <div id="intext_content"></div>
      <h3>Reference:</h3>
      <div id="reference_content"></div>
   </div>
   <div id="gen_other_m">
      <h3>In-text:</h3>
      <div id="intext_content"></div>
      <h3>Reference:</h3>
      <div id="reference_content"></div>
   </div>
   <div id="gen_other_n">
      <h3>In-text:</h3>
      <div id="intext_content"></div>
      <h3>Reference:</h3>
      <div id="reference_content"></div>
   </div>
   <div id="gen_other_o">
      <h3>In-text:</h3>
      <div id="intext_content"></div>
      <h3>Reference:</h3>
      <div id="reference_content"></div>
   </div>
   <div id="gen_other_p">
      <h3>In-text:</h3>
      <div id="intext_content"></div>
      <h3>Reference:</h3>
      <div id="reference_content"></div>
   </div>
   <div id="gen_other_q">
      <h3>In-text:</h3>
      <div id="intext_content"></div>
      <h3>Reference:</h3>
      <div id="reference_content"></div>
   </div>
   <div id="gen_other_r">
      <h3>In-text:</h3>
      <div id="intext_content"></div>
      <h3>Reference:</h3>
      <div id="reference_content"></div>
   </div>
   <div id="gen_other_s">
      <h3>In-text:</h3>
      <div id="intext_content"></div>
      <h3>Reference:</h3>
      <div id="reference_content"></div>
   </div>
   <div id="gen_other_t">
      <h3>In-text:</h3>
      <div id="intext_content"></div>
      <h3>Reference:</h3>
      <div id="reference_content"></div>
   </div>
   <div id="gen_other_u">
      <h3>In-text:</h3>
      <div id="intext_content"></div>
      <h3>Reference:</h3>
      <div id="reference_content"></div>
   </div>
   <div id="gen_other_v">
      <h3>In-text:</h3>
      <div id="intext_content"></div>
      <h3>Reference:</h3>
      <div id="reference_content"></div>
   </div>
   <div id="gen_other_w">
      <h3>In-text:</h3>
      <div id="intext_content"></div>
      <h3>Reference:</h3>
      <div id="reference_content"></div>
   </div>
   <div id="gen_other_x">
      <h3>In-text:</h3>
      <div id="intext_content"></div>
      <h3>Reference:</h3>
      <div id="reference_content"></div>
   </div>
   <div id="gen_other_y">
      <h3>In-text:</h3>
      <div id="intext_content"></div>
      <h3>Reference:</h3>
      <div id="reference_content"></div>
   </div>
   <div id="gen_other_z">
      <h3>In-text:</h3>
      <div id="intext_content"></div>
      <h3>Reference:</h3>
      <div id="reference_content"></div>
   </div>
   <div id="gen_other_aa">
      <h3>In-text:</h3>
      <div id="intext_content"></div>
      <h3>Reference:</h3>
      <div id="reference_content"></div>
   </div>
   <div id="gen_other_ab">
      <h3>In-text:</h3>
      <div id="intext_content"></div>
      <h3>Reference:</h3>
      <div id="reference_content"></div>
   </div>
   <div id="gen_other_ac">
      <h3>In-text:</h3>
      <div id="intext_content"></div>
      <h3>Reference:</h3>
      <div id="reference_content"></div>
   </div>
</div>
