<div class="hidden">


   <!-- Input templates for quote -->
   <div id="quote_a"></div>
   <div id="quote_b">
      <table id="form_table">
         <tr>
            <td></td>
            <td></td>
         </tr>
      </table>
      <button type="button" onclick="generate('')">Generate</button>
   </div>
   <div id="quote_c">
      <table id="form_table">
         <tr>
            <td></td>
            <td></td>
         </tr>
      </table>
      <button type="button" onclick="generate('')">Generate</button>
   </div>
   <div id="quote_d">
      <table id="form_table">
         <tr>
            <td></td>
            <td></td>
         </tr>
      </table>
      <button type="button" onclick="generate('')">Generate</button>
   </div>


   <!-- Input templates for book -->
   <div id="book_a">
      <table id="form_table">
         <tr><td>Author/Editor</td><td><input type="text" name="name"></td></tr>
         <tr><td>Year of publication</td><td><input type="text" name="year"></td></tr>
         <tr><td>Title</td><td><input type="text" name="title"></td></tr>
         <tr><td>Edition (if not first)</td><td><input type="text" name="edition"></td></tr>
         <tr><td>Place of Publication</td><td><input type="text" name="pubplace"></td></tr>
         <tr><td>Publisher</td><td><input type="text" name="publisher"></td></tr>
         <tr><td colspan='2'><br></td></tr>
         <tr><td colspan='2'><i>Series and volume number (where relevant)</i></td></tr>
         <tr><td>Series</td><td><input type="text" name="series"></td></tr>
         <tr><td>Volume</td><td><input type="text" name="volume"></td></tr>
      </table>
      <button type="button" onclick="generate('book_a')">Generate</button>
   </div>

   <div id="book_b">
     <table id="form_table">
        <tr><td>Author/Editor</td><td><input type="text" name="name"></td></tr>
        <tr><td>Year of publication</td><td><input type="text" name="year"></td></tr>
        <tr><td>Title</td><td><input type="text" name="title"></td></tr>
        <tr><td>Edition (if not first)</td><td><input type="text" name="edition"></td></tr>
        <tr><td>Place of Publication</td><td><input type="text" name="pubplace"></td></tr>
        <tr><td>Publisher</td><td><input type="text" name="publisher"></td></tr>
        <tr><td colspan='2'><br></td></tr>
        <tr><td colspan='2'><i>Series and volume number (where relevant)</i></td></tr>
        <tr><td>Series</td><td><input type="text" name="series"></td></tr>
        <tr><td>Volume</td><td><input type="text" name="volume"></td></tr>
     </table>
    <button type="button" onclick="generate('book_b')">Generate</button>
   </div>

   <div id="book_c">
     <table id="form_table">
        <tr><td>Author/Editor</td><td><input type="text" name="name"></td></tr>
        <tr><td>Year of publication</td><td><input type="text" name="year"></td></tr>
        <tr><td>Title</td><td><input type="text" name="title"></td></tr>
        <tr><td>Edition (if not first)</td><td><input type="text" name="edition"></td></tr>
        <tr><td>Place of Publication</td><td><input type="text" name="pubplace"></td></tr>
        <tr><td>Publisher</td><td><input type="text" name="publisher"></td></tr>
        <tr><td colspan='2'><br></td></tr>
        <tr><td colspan='2'><i>Series and volume number (where relevant)</i></td></tr>
        <tr><td>Series</td><td><input type="text" name="series"></td></tr>
        <tr><td>Volume</td><td><input type="text" name="volume"></td></tr>
     </table>
      <button type="button" onclick="generate('book_c')">Generate</button>
   </div>

   <div id="book_d">
      <table id="form_table">
         <tr>
            <td></td>
            <td></td>
         </tr>
      </table>
      <button type="button" onclick="generate('')">Generate</button>
   </div>
   <div id="book_e">
      <table id="form_table">
         <tr>
            <td></td>
            <td></td>
         </tr>
      </table>
      <button type="button" onclick="generate('')">Generate</button>
   </div>
   <div id="book_f">
      <table id="form_table">
         <tr>
            <td></td>
            <td></td>
         </tr>
      </table>
      <button type="button" onclick="generate('')">Generate</button>
   </div>
   <div id="book_g">
      <table id="form_table">
         <tr>
            <td></td>
            <td></td>
         </tr>
      </table>
      <button type="button" onclick="generate('')">Generate</button>
   </div>
   <div id="book_h">
      <table id="form_table">
         <tr>
            <td></td>
            <td></td>
         </tr>
      </table>
      <button type="button" onclick="generate('')">Generate</button>
   </div>
   <!-- Input templates for journal -->
   <div id="journal_a">
      <table id="form_table">
         <tr>
            <td></td>
            <td></td>
         </tr>
      </table>
      <button type="button" onclick="generate('')">Generate</button>
   </div>
   <div id="journal_b">
      <table id="form_table">
         <tr>
            <td></td>
            <td></td>
         </tr>
      </table>
      <button type="button" onclick="generate('')">Generate</button>
   </div>
   <div id="journal_c">
      <table id="form_table">
         <tr>
            <td></td>
            <td></td>
         </tr>
      </table>
      <button type="button" onclick="generate('')">Generate</button>
   </div>
   <div id="journal_d">
      <table id="form_table">
         <tr>
            <td></td>
            <td></td>
         </tr>
      </table>
      <button type="button" onclick="generate('')">Generate</button>
   </div>


   <!-- Input templates for newspaper -->
   <div id="newspaper_a">
      <table id="form_table">
         <tr>
            <td></td>
            <td></td>
         </tr>
      </table>
      <button type="button" onclick="generate('')">Generate</button>
   </div>
   <div id="newspaper_b">
      <table id="form_table">
         <tr>
            <td></td>
            <td></td>
         </tr>
      </table>
      <button type="button" onclick="generate('')">Generate</button>
   </div>
   <div id="newspaper_c">
      <table id="form_table">
         <tr>
            <td></td>
            <td></td>
         </tr>
      </table>
      <button type="button" onclick="generate('')">Generate</button>
   </div>


   <!-- Input templates for internet -->
   <div id="newspaper_a">
      <table id="form_table">
         <tr>
            <td></td>
            <td></td>
         </tr>
      </table>
      <button type="button" onclick="generate('')">Generate</button>
   </div>
   <div id="newspaper_b">
      <table id="form_table">
         <tr>
            <td></td>
            <td></td>
         </tr>
      </table>
      <button type="button" onclick="generate('')">Generate</button>
   </div>
   <div id="newspaper_c">
      <table id="form_table">
         <tr>
            <td></td>
            <td></td>
         </tr>
      </table>
      <button type="button" onclick="generate('')">Generate</button>
   </div>
   <div id="newspaper_d">
      <table id="form_table">
         <tr>
            <td></td>
            <td></td>
         </tr>
      </table>
      <button type="button" onclick="generate('')">Generate</button>
   </div>
   <div id="newspaper_e">
      <table id="form_table">
         <tr>
            <td></td>
            <td></td>
         </tr>
      </table>
      <button type="button" onclick="generate('')">Generate</button>
   </div>
   <div id="newspaper_f">
      <table id="form_table">
         <tr>
            <td></td>
            <td></td>
         </tr>
      </table>
      <button type="button" onclick="generate('')">Generate</button>
   </div>
   <div id="newspaper_g">
      <table id="form_table">
         <tr>
            <td></td>
            <td></td>
         </tr>
      </table>
      <button type="button" onclick="generate('')">Generate</button>
   </div>
   <!-- Input templates for "Conferences/Theses/Public Lectures" (ctpl) -->
   <div id="ctpl_a">
      <table id="form_table">
         <tr>
            <td></td>
            <td></td>
         </tr>
      </table>
      <button type="button" onclick="generate('')">Generate</button>
   </div>
   <div id="ctpl_b">
      <table id="form_table">
         <tr>
            <td></td>
            <td></td>
         </tr>
      </table>
      <button type="button" onclick="generate('')">Generate</button>
   </div>
   <div id="ctpl_c">
      <table id="form_table">
         <tr>
            <td></td>
            <td></td>
         </tr>
      </table>
      <button type="button" onclick="generate('')">Generate</button>
   </div>
   <div id="ctpl_d">
      <table id="form_table">
         <tr>
            <td></td>
            <td></td>
         </tr>
      </table>
      <button type="button" onclick="generate('')">Generate</button>
   </div>


   <!-- Input templates for other -->
   <div id="other_a">
      <table id="form_table">
         <tr>
            <td></td>
            <td></td>
         </tr>
      </table>
      <button type="button" onclick="generate('')">Generate</button>
   </div>
   <div id="other_b">
      <table id="form_table">
         <tr>
            <td></td>
            <td></td>
         </tr>
      </table>
      <button type="button" onclick="generate('')">Generate</button>
   </div>
   <div id="other_c">
      <table id="form_table">
         <tr>
            <td></td>
            <td></td>
         </tr>
      </table>
      <button type="button" onclick="generate('')">Generate</button>
   </div>
   <div id="other_d">
      <table id="form_table">
         <tr>
            <td></td>
            <td></td>
         </tr>
      </table>
      <button type="button" onclick="generate('')">Generate</button>
   </div>
   <div id="other_e">
      <table id="form_table">
         <tr>
            <td></td>
            <td></td>
         </tr>
      </table>
      <button type="button" onclick="generate('')">Generate</button>
   </div>
   <div id="other_f">
      <table id="form_table">
         <tr>
            <td></td>
            <td></td>
         </tr>
      </table>
      <button type="button" onclick="generate('')">Generate</button>
   </div>
   <div id="other_g">
      <table id="form_table">
         <tr>
            <td></td>
            <td></td>
         </tr>
      </table>
      <button type="button" onclick="generate('')">Generate</button>
   </div>
   <div id="other_h">
      <table id="form_table">
         <tr>
            <td></td>
            <td></td>
         </tr>
      </table>
      <button type="button" onclick="generate('')">Generate</button>
   </div>
   <div id="other_i">
      <table id="form_table">
         <tr>
            <td></td>
            <td></td>
         </tr>
      </table>
      <button type="button" onclick="generate('')">Generate</button>
   </div>
   <div id="other_j">
      <table id="form_table">
         <tr>
            <td></td>
            <td></td>
         </tr>
      </table>
      <button type="button" onclick="generate('')">Generate</button>
   </div>
   <div id="other_k">
      <table id="form_table">
         <tr>
            <td></td>
            <td></td>
         </tr>
      </table>
      <button type="button" onclick="generate('')">Generate</button>
   </div>
   <div id="other_l">
      <table id="form_table">
         <tr>
            <td></td>
            <td></td>
         </tr>
      </table>
      <button type="button" onclick="generate('')">Generate</button>
   </div>
   <div id="other_m">
      <table id="form_table">
         <tr>
            <td></td>
            <td></td>
         </tr>
      </table>
      <button type="button" onclick="generate('')">Generate</button>
   </div>
   <div id="other_n">
      <table id="form_table">
         <tr>
            <td></td>
            <td></td>
         </tr>
      </table>
      <button type="button" onclick="generate('')">Generate</button>
   </div>
   <div id="other_o">
      <table id="form_table">
         <tr>
            <td></td>
            <td></td>
         </tr>
      </table>
      <button type="button" onclick="generate('')">Generate</button>
   </div>
   <div id="other_p">
      <table id="form_table">
         <tr>
            <td></td>
            <td></td>
         </tr>
      </table>
      <button type="button" onclick="generate('')">Generate</button>
   </div>
   <div id="other_q">
      <table id="form_table">
         <tr>
            <td></td>
            <td></td>
         </tr>
      </table>
      <button type="button" onclick="generate('')">Generate</button>
   </div>
   <div id="other_r">
      <table id="form_table">
         <tr>
            <td></td>
            <td></td>
         </tr>
      </table>
      <button type="button" onclick="generate('')">Generate</button>
   </div>
   <div id="other_s">
      <table id="form_table">
         <tr>
            <td></td>
            <td></td>
         </tr>
      </table>
      <button type="button" onclick="generate('')">Generate</button>
   </div>
   <div id="other_t">
      <table id="form_table">
         <tr>
            <td></td>
            <td></td>
         </tr>
      </table>
      <button type="button" onclick="generate('')">Generate</button>
   </div>
   <div id="other_u">
      <table id="form_table">
         <tr>
            <td></td>
            <td></td>
         </tr>
      </table>
      <button type="button" onclick="generate('')">Generate</button>
   </div>
   <div id="other_v">
      <table id="form_table">
         <tr>
            <td></td>
            <td></td>
         </tr>
      </table>
      <button type="button" onclick="generate('')">Generate</button>
   </div>
   <div id="other_w">
      <table id="form_table">
         <tr>
            <td></td>
            <td></td>
         </tr>
      </table>
      <button type="button" onclick="generate('')">Generate</button>
   </div>
   <div id="other_x">
      <table id="form_table">
         <tr>
            <td></td>
            <td></td>
         </tr>
      </table>
      <button type="button" onclick="generate('')">Generate</button>
   </div>
   <div id="other_y">
      <table id="form_table">
         <tr>
            <td></td>
            <td></td>
         </tr>
      </table>
      <button type="button" onclick="generate('')">Generate</button>
   </div>
   <div id="other_z">
      <table id="form_table">
         <tr>
            <td></td>
            <td></td>
         </tr>
      </table>
      <button type="button" onclick="generate('')">Generate</button>
   </div>
   <div id="other_aa">
      <table id="form_table">
         <tr>
            <td></td>
            <td></td>
         </tr>
      </table>
      <button type="button" onclick="generate('')">Generate</button>
   </div>
   <div id="other_ab">
      <table id="form_table">
         <tr>
            <td></td>
            <td></td>
         </tr>
      </table>
      <button type="button" onclick="generate('')">Generate</button>
   </div>
   <div id="other_ac">
      <table id="form_table">
         <tr>
            <td></td>
            <td></td>
         </tr>
      </table>
      <button type="button" onclick="generate('')">Generate</button>
   </div>
</div>
